.header {
  width: 100%;
  background-color: #fff;
  &__item {


    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin: 0 auto;
    padding: 5px 0;
    nav {
      width: max-content;
      position: relative;
      .navbar-current {
        font-size: 32px;
        color:rgb(25, 110, 221);

        cursor: pointer;
      }
      .navbar {
        display: flex;
        align-items: center ;
        justify-content: space-between;
        gap: 30px;
        .navbar__item {
          cursor: pointer;
          text-decoration: none;
          color:rgb(25, 110, 221);
          font-size: 18px;
        }

      }
      .hidden {
        display: none;
      }
    }

    .logo-u {
      height: 100px;
      width: 100px;
    }    
  }

}