.app {
  width: 100%;
  height: 100vh;
  background-color:rgb(5, 33, 83);
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  .shape {
    width: 600px;
    height: 600px;
    background-color: rgba(103, 107, 114, .3);
    transform: rotate(45deg);
    position: absolute;
    right: 0;
    bottom: -48%;
  }
}